
// my fonts and h tags

body {
	font-size: 16px;
	font-family: 'Montserrat', sans-serif;
	font-weight:300;

}

h1, h2, h3 {
	font-family: 'Montserrat', sans-serif;
	color:white;
	letter-spacing: 5px;
}

h1 {
	font-size: 40px;
}
h2 {
	font-size: 30px;
}

h3 {
	font-size: 25x;
}
